body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    text-align: center;
    background-color: #3D52A0;
    color: white;
    padding: 15px;
}

header .container a{
    text-decoration: none;
    color: white;
    padding: 15px;
    
}
header .container a:hover{
    background-color: #7091E6;
    color: black;
    padding: 10px;
}

nav {
    float: left;
    width: 20%;
    background-color: #7091E6;
    height: 800px;

}
article{
    float: left;
    width: 70%;
    background-color: #8697C4;
    height: 800px;
    padding-right: 5%;
    padding-left: 5%
   
    

}
.navigationstyle li{
    list-style: none;
    padding: 15px;
}
.navigationstyle li a{
    text-decoration: none;
    color: white; 
}
.navigationstyle li:hover{
    background-color: #ADBBDA;
    color: black;
}
footer{
    text-align: center;
    background-color: #ADBBDA;
    padding: 15px;
}
footer h2{
        color: white;
        padding-top: 15px;
}
.footermenu a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.p1{
    background-image: url(../IMG_20220811_121522.jpg);


}
.pic{
    border-radius: 100px;
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
}
.style{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pic p1{
    border-radius: 100px;
    height: 80px;
    width: 80px;

}
article1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    

}
table{
    width: 50%;
    height: 50px;
    border-collapse: collapse;
    

    
}
.tb{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    border-collapse: collapse;
    

}
.logo{
   border-radius: 100px;
   padding-right: 1000px;
   width: 80;
   height: 80;
}
tr:nth-child(even){
    background-color: rgb(126, 243, 243);
}
/* This is the style for html list */
.firstColumn{
    float: left;
}
.SecondColumn{
    float: right;
}
.caption{
    border-color: white;
}
.f_set{
    border-color: white;
}
/* For field set */
.set{
    border-color: white;   
}